@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 255, 255, 255;
 --background-end-rgb: 244, 250, 244;
}

body {
 color: rgb(var(--foreground-rgb));
 background: linear-gradient(
  to bottom,
  rgb(var(--background-start-rgb)),
  rgb(var(--background-end-rgb))
 );
}

/* Smooth scrolling */
html {
 scroll-behavior: smooth;
}

/* Custom selection color */
::selection {
 background-color: rgb(34, 197, 94);
 color: white;
}
